.PostBox{
    width: 1200px;
    height: 600px;
    margin: 30px auto 0 auto;
    border: rgb(219, 219, 219) solid 1px;
    box-shadow: 0px 0px 10px -5px #777777;
    border-radius: 30px;

    .top{
        width: 90%;
        margin: 50px auto 0 auto;
        display: flex;
        gap: 500px;

        .title{
            width: 400px;
            font-size: 1.3rem;
        }
        
        .category{
            color: #6084E7;
        }

        .actionBtn{
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
    .PostContent{
        width: 90%;
        display: flex;
        margin: 20px auto;
        gap: 5%;

        .designImg{
            border: #c9c9c9 1px solid;
        }

        .contentBox{
            display: flex;
            flex-flow: column;
            gap: 40%;

            .pointBox{
                background: #d7ffd5;
                position: relative;
                margin-bottom: 0.2rem;
                border-left: 15px solid #6FFF65;
                box-shadow: 0 1px 5px #d9d9d9;
                color: #353535;

                .pointTitle{
                    display: flex;
                    margin: 10px 10px 0 10px;

                    p{
                        font-weight: bold;
                    }
                }

                .pointText{
                    margin: 1rem;
                }
            }
        }
    }
    .contentBtm{
        display: flex;
        gap: 30%;

        .User{
            display: flex;
            align-items: center;
            gap: 10px;
            color: #333;
            margin: 0 5%;

            .userIcon{
                box-shadow: 0 0 5px 0 #c9c9c9;
                border-radius: 50%;
            }

            p{
                font-size: 1.5rem;
            }

            .rankIcon{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #c9c9c9;
            }
        }

        .feedbackBtn{
            width: 250px;
            background: #6084E7;
            color: #fff;
            font-weight: bold;
            border-radius: 30px;
            border: none;
            box-shadow: 0 4px 10px  #d9d9d9;
            transition: .3s;
            
            &:hover{
                background: #fff;
                color: #6084E7;
            }
        }
    }
}