.input{
    margin: 0 auto;
    margin-top: 90px;
    width: 80%;
    border: 1px tomato solid;
    // display: flex;
    // flex-flow: column;
    // justify-content: center;
    // align-items: center;

    .Title{
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    .inputWrap{
        display: flex;
        gap: 20px;
        
        .inputFile{
            background: #E2E7EC;
            width: 500px;
            height: 350px;
            border: dotted 2px #333;
            position: relative;
            margin-bottom: 20px;
            
            .Notes{
                position: absolute;
                bottom: -20px;
                right: -10px;
                font-size: 0.8rem;
            }
        }
        
        .selectFile{
            font-size: 0.8rem;
        }
        
        .ExcerptWrap{
            margin: 20px 0 5px 0;
            h3{
                span{
                    font-size: 0.8rem;
                    font-weight: normal;
                }
            }
            .inputUrl{
                width: 500px;
                height: 30px;
                border: #d9d9d9 1px solid;
                font-weight: normal;

            }
            .inputUrl::placeholder {
                color: #d9d9d9;
            }
            
            .inputUrl:focus::placeholder {
                color: transparent;
            }
        }
        .inputTitle{
            width: 500px;
            height: 30px;
            margin-bottom: 20px;
            border: #d9d9d9 1px solid;
            font-weight: normal;
    
        }
        .inputTitle::placeholder {
            color: #d9d9d9;
        }
        
        .inputTitle:focus::placeholder {
            color: transparent;
        }
    
        .explanation{
            width: 500px;
            height: 124px;
            margin-bottom: 20px;
            border: #d9d9d9 1px solid;
    
        }
        .explanation::placeholder {
            color: #d9d9d9;
        }
        
        .explanation:focus::placeholder {
            color: transparent;
        }
    
        .Point{
            width: 500px;
            height: 124px;
            margin-bottom: 20px;
            border: #d9d9d9 1px solid;
    
        }
        .Point::placeholder {
            color: #d9d9d9;
        }
        
        .Point:focus::placeholder {
            color: transparent;
        }
    
        textarea{
            resize: none;
        }
    
        .tag{
            width: 500px;
            height: 30px;
            margin-bottom: 20px;
            border: #d9d9d9 1px solid;
    
        }
        .tag::placeholder {
            color: #d9d9d9;
        }
        
        .tag:focus::placeholder {
            color: transparent;
        }
    }
}


