.themaWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    .titl{
        text-align: center;
        font-size: 1.1rem;
        margin: 50px 0 30px 0;
    }

    .box{
        
        .thema{
            text-align: center;
            width: 100%;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0 0.5em;
            margin-left: 0.5em;
            margin-right: 0.5em;
            border-left: 7px dotted #6084E7;
            background-color: #fff;
            outline: 3px solid #6084E7;
            outline-offset: 0.5em;
            position: relative;
            
            &::after{
                content: '';
                position: absolute;
                right: calc(-0.5em - 3px);
                top: calc(-0.5em - 3px);
                border-width: 0 30px 30px 0;
                border-style: solid;
                box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
                border-color: #4c9ac0 #fff #6084E7;
            }
        }

        .dropdown{
            background: #D4E8FF;
            position: relative;
            top: 15px;
            right: 3px;
            width: 108%;

            .dropdownWrap{
                width: 90%;
                margin:  auto;
                padding: 20px 0;

                .h2{
                    margin: 10px 0;

                    &:nth-last-child(1){
                        text-align: center;
                        margin: 20px 0 -10px 0;
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

.joinBtn{
    // background: #4577FF;
    display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	width: 150px;
    top: 50px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border-radius: 30px;
	color: #6084E7;
	border: 3px solid #6084E7;
	box-shadow: 5px 5px #6084E7;
	transition: 0.3s ease-in-out;

    &:hover{
        box-shadow: none;
        transform: translate(5px, 5px);
        color: #fff;
        background: #6084E7;
    }
}

.otherBox{
    text-align: center;

    .other{
        font-weight: bold;
        text-align: center;
        margin-top: 100px;
    }
}