.main{
    width: 100%;

    .categoryNav{
        margin-top: 20px;
        
        ul{
            display: flex;
            justify-content: center;
            gap: 20px;

            li{
                list-style-type: none;
                // border: tomato solid 1px;
                padding: 10px 20px;
                border-radius: 30px;

                // &:nth-child(1){
                //     background: #4577FF;
                //     a{
                //         color: #fff;
                //     }
                // }

                .Link{
                    text-decoration: none;
                    color: #000;

                }
            }
        }
    }

    .ItemBox{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 50px auto;

        .ItemLink{
            text-decoration: none;
            transition: all .3s ease 0s;

            &:hover{
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}