
.Link{
    &::after{
        position: absolute;
        bottom: -5px;
        left: 0;
        content: "";
        width: 100%;
        height: 3px;
        background: #6084E7;
        // border-radius: 50vh;
        transform: scaleX(0);
        transform-origin: center top;
        transition: transform 0.3s;
    }

    &:hover::after{
        transform: scaleX(1);
        transform-origin: center top;
    }
}

