.PostBox {
    width: 340px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    box-shadow: 0 0 15px -5px #c9c9c9;
    border-radius: 20px;
    margin: 10px;
    transition: all 0.3s ease 0s;

    &:hover {
        cursor: pointer;
        transform: scale(1.07);
    }

    .nameAction {
        display: flex;
        gap: 20px;
        margin-top: 10px;

        .userName {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .actionBtn {
            display: flex;
            gap: 10px;
            align-items: center;
        }
    }
}
